<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhihao.blackmarket.mapper.GoodsPostMapper">

    <sql id="BeanProperty">
        id, student_id, status, mobile_switch, wechat, content, pv, create_time, update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into goods_post (student_id, status, mobile_switch, wechat, content, pv)
        values(#{studentId}, #{status}, #{mobileSwitch}, #{wechat}, #{content}, #{pv})
    </insert>

    <select id="findGoodsPostById" resultType="com.wangzhihao.blackmarket.domain.GoodsPost">
        select
        <include refid="BeanProperty"/>
        from goods_post
        where id = #{id}
    </select>

    <select id="findGoodsPosts" resultType="com.wangzhihao.blackmarket.domain.GoodsPost">
        select
        <include refid="BeanProperty"/>
        from goods_post
        where 1 = 1
        <if test="status!=null">and status = #{status}</if>
        <if test="studentId!=null">and student_id = #{studentId}</if>
        order by id
        <if test="order=='desc'">desc</if>
        limit #{start}, #{limit}
    </select>

    <update id="update">
        update goods_post
        <set>
            <if test="status!=null">status = #{status},</if>
            <if test="mobileSwitch!=null">mobile_switch = #{mobileSwitch},</if>
            <if test="wechat!=null">wechat = #{wechat},</if>
            <if test="content!=null">content = #{content},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePv">
        update goods_post <set>pv = #{pv}</set> where id = #{id}
    </update>
</mapper>
